/* 列表 */
@media screen and (min-width: 1200px) {
    .List{
        list-style:     none;
        width:          1200px;
        margin:         0 auto;
        text-align:     center;
    }
    .List li{
        display:        inline-block;
        vertical-align: top;
        text-align:     left;
        width:          300px;
        padding:        20px;
    }
}
