/* 列表 */
.List{
    padding-left:       0;
    font-size:          0;
}
.List li{
    font-size:          14px;
    word-wrap:          break-word
}
@media screen and (min-width: 1200px) {
    .List{
        list-style:     none;
        width:          1200px;
        margin:         0 auto;
        text-align:     left;
    }
    .List li{
        display:        inline-block;
        vertical-align: top;
        text-align:     left;
        width:          300px;
        padding:        20px;
    }
}
